/.vscode
/add.java
/Comarthematicopp.java
/duplicates.java
/EvenOddPrime8.java
/Integerbetween1andn.java
/Integerdivisibility.java
/pascaltriangle.java
/Quadraticequation.java
/revandsumanumber.java
/sgit-main
/sumsequence1.java
/sumsequence2.java
/sumsequence3.java